* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  /* border: 3px black solid; */
  width: 1000px;
  height: 800px;
  margin: auto;
  position: relative;
}
section h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  transform: rotate(-40deg);
  color: chocolate;
}
div img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  padding: 10px 10px 50px 10px;
  position: absolute;
  filter: grayscale();
  transform: rotate(40deg);
  opacity: 0.7;
  transition: 0.7s all ease;
  cursor: pointer;
}
div:nth-child(1) img {
  top: 25rem;
  left: 6rem;
}
div:nth-child(2) img {
  top: 20rem;
  left: 15rem;
}
div:nth-child(3) img {
  top: 15rem;
  left: 27rem;
}
div:nth-child(4) img {
  top: 7rem;
  left: 38rem;
}
div img:hover {
  transform: rotate(0);
  filter: none;
  opacity: 1;
  z-index: 1;
  transform: scale(1.5);
}
